@import "~bootstrap/scss/bootstrap";

.container.login-container{
    margin-top: 2rem;
}

.form-control.login{
    width: 80%;
}

.login-submit{
    padding: 0.3rem 0.5rem;
}

.tf{
    margin-bottom: 4rem;
}

.skere{
    border-right: 6px solid rgba(235, 4, 15, 0.8);
    border-bottom: 6px solid rgba(235, 4, 15, 0.8);
    padding-right: 0.3rem;
}

.top-left{
    border-left: 8px solid rgba(20, 3, 117, 0.8);
    border-top: 8px solid rgba(20, 3, 117, 0.8);
    padding-left: 0.5rem;
}

.display-4{
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.dropdown-menu.show{
    min-width: 15rem
}

.course-link{
    padding: 1rem;
}

.ratings-col{
    margin-right: 20rem;
    margin-left: 5rem;
}